

@model IEnumerable<QL_NhaHang_ADO.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "ShowCTHD";
    Layout = "~/Views/Share/layuot_admin.cshtml";
}

<h2>CHI TIẾT HOÁ ĐƠN @ViewBag.MaHD</h2>

<p>
    <a href="@Url.Action("ShowHD", "NhaHang")" class="btn btn-secondary">Quay Lại</a>
    <a href="@Url.Action("ShowDanhGia", "DanhGia")" class="btn btn-primary">Quay Lại Trang Đánh Giá</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
        <tbody>
            <tr>
                <td>
                    Mã hóa đơn: @ViewBag.MaHD
                </td>
                <td>Mã khách hàng: @ViewBag.Khach.MaKH</td>
                </tr>
            <tr>
                <td>Ngày lập: @ViewBag.HoaDon.NgayLap</td>
                <td>Tên khách hàng: @ViewBag.Khach.HoTen</td>
            </tr>
            <tr>
                @if (ViewBag.HoaDon.MaNV == "")
                {
                    <td>Mã nhân viên: Chưa có</td>
                }
                else
                {
                    <td>Mã nhân viên: @ViewBag.HoaDon.MaNV</td>
                }
                @if (@ViewBag.DanhGia.NoiDung == "")
                {
                    <td>Đánh giá: Chưa có</td>
                }
                else
                {
                    <td>Đánh giá: @ViewBag.DanhGia.NoiDung</td>
                }
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MaMA)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TenMon)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().GiaMon)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SoLuong)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ThanhTien)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaMA</td>
                    <td>@item.TenMon</td>
                    <td>@String.Format("{0:N0}", item.GiaMon) VNĐ</td>
                    <td>@item.SoLuong</td>
                    <td>@String.Format("{0:N0}", item.ThanhTien) VNĐ</td>

                </tr>
            }
        </tbody>
    </table>
</div>

<h4>Tổng tiền: @String.Format("{0:N0}", ViewBag.Tong) VNĐ</h4>


