@model IEnumerable<QL_NhaHang_ADO.Models.PhieuXuatKho>

@{
    ViewBag.Title = "HienThiXuatKho";
    Layout = "~/Views/Share/layuot_admin.cshtml";
}

<h2>HienThiXuatKho</h2>

<a href="@Url.Action("ThemPhieuXuatKho", "Admin_XuatKho")" class="btn btn-primary">Tạo Hóa Đơn Mới</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaXuatKho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayXuatKho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaXuatKho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayXuatKho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "chitietXuatKho", "Admin_XuatKho", new { MaNhapKho = item.MaXuatKho }, null)
        </td>
    </tr>
}

</table>
